@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-sanchez {
  font-family: var(--font-sanchez), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-miniver {
  font-family: var(--font-miniver), cursive;
}

